[submodule "client/geobricks_ui"]
	path = client/geobricks_ui
	url = https://github.com/geobricks/geobricks_ui.git
[submodule "server/geobricks_common"]
	path = server/geobricks_common
	url = https://github.com/geobricks/geobricks_common.git
[submodule "server/geobricks_mapclassify"]
	path = server/geobricks_mapclassify
	url = https://github.com/geobricks/geobricks_mapclassify.git
[submodule "server/geobricks_metadata_manager"]
	path = server/geobricks_metadata_manager
	url = https://github.com/geobricks/geobricks_metadata_manager.git
[submodule "server/geobricks_data_manager"]
	path = server/geobricks_data_manager
	url = https://github.com/geobricks/geobricks_data_manager.git
[submodule "server/geobricks_data_scripts"]
	path = server/geobricks_data_scripts
	url = https://github.com/geobricks/geobricks_data_scripts.git
[submodule "server/geobricks_geoserver_manager"]
	path = server/geobricks_geoserver_manager
	url = https://github.com/geobricks/geobricks_geoserver_manager.git
[submodule "server/geobricks_raster_correlation"]
	path = server/geobricks_raster_correlation
	url = https://github.com/geobricks/geobricks_raster_correlation.git
[submodule "server/geobricks_deployment"]
	path = server/geobricks_deployment
	url = https://github.com/geobricks/geobricks_deployment.git
[submodule "server/geobricks_downloader"]
	path = server/geobricks_downloader
	url = https://github.com/geobricks/geobricks_downloader.git
[submodule "server/geobricks_modis"]
	path = server/geobricks_modis
	url = https://github.com/geobricks/geobricks_modis.git
[submodule "server/geobricks_gis_vector"]
	path = server/geobricks_gis_vector
	url = https://github.com/geobricks/geobricks_gis_vector.git
[submodule "server/geobricks_rest_engine"]
	path = server/geobricks_rest_engine
	url = https://github.com/geobricks/geobricks_rest_engine.git
[submodule "server/geobricks_proj4_to_epsg"]
	path = server/geobricks_proj4_to_epsg
	url = https://github.com/geobricks/geobricks_proj4_to_epsg.git
[submodule "server/geobricks_spatial_query"]
	path = server/geobricks_spatial_query
	url = https://github.com/geobricks/geobricks_spatial_query.git
[submodule "server/geobricks_processing"]
	path = server/geobricks_processing
	url = https://github.com/geobricks/geobricks_processing.git
[submodule "server/geobricks_gis_raster"]
	path = server/geobricks_gis_raster
	url = https://github.com/geobricks/geobricks_gis_raster.git
[submodule "server/geobricks_geostatistics"]
	path = server/geobricks_geostatistics
	url = https://github.com/geobricks/geobricks_geostatistics.git
[submodule "server/geobricks_geocoding"]
	path = server/geobricks_geocoding
	url = https://github.com/geobricks/geobricks_geocoding.git
[submodule "server/geobricks_distribution"]
	path = server/geobricks_distribution
	url = https://github.com/geobricks/geobricks_distribution.git
[submodule "server/geobricks_dbms"]
	path = server/geobricks_dbms
	url = https://github.com/geobricks/geobricks_dbms.git
[submodule "server/geobricks_trmm"]
	path = server/geobricks_trmm
	url = https://github.com/geobricks/geobricks_trmm.git
[submodule "server/geobricks_storage_manager"]
	path = server/geobricks_storage_manager
	url = https://github.com/geobricks/geobricks_storage_manager.git
[submodule "server/geobricks_gdal_calc"]
	path = server/geobricks_gdal_calc
	url = https://github.com/geobricks/geobricks_gdal_calc.git
[submodule "server/geobricks_scheduler"]
	path = server/geobricks_scheduler
	url = https://github.com/geobricks/geobricks_scheduler.git
[submodule "server/geobricks_mod16"]
	path = server/geobricks_mod16
	url = https://github.com/geobricks/geobricks_mod16.git
[submodule "server/geobricks_filesystem_watchdog"]
	path = server/geobricks_filesystem_watchdog
	url = https://github.com/geobricks/geobricks_filesystem_watchdog.git
